@{
    ViewBag.Title = "Ajustes";
}
<div class="centrar">
    <h4>@ViewBag.Title</h4>
    <hr />
</div>
<br />
<div class="form-horizontal centrar">
    <h5>Seleccione la opción a gestionar:</h5>
    <br />
    <a class="btn btn-default" href="/CodigoTareas/Index" target="_blank">Código de tareas</a>
    <a class="btn btn-default" href="/EstadoLlamadas/Index" target="_blank">Estados llamadas solicitadas</a>
    <a class="btn btn-default" href="/Estados/Index" target="_blank">Estados llamadas entrantes</a>
    <a class="btn btn-default" href="/Etiquetas/Index" target="_blank">Etiquetas</a>
    <a class="btn btn-default" href="/FormaDeComunicacion/Index" target="_blank">Formas de comunicación</a>
</div>

