@{
    ViewBag.Title = "Reportes";
}
<div class="centrar">
    <h4>@ViewBag.Title</h4>
    <hr />
</div>
<br />
<div class="form-horizontal centrar">
    <h5>Seleccione la información que desea consultar:</h5>
    <br />
        <a class="btn btn-default" href="/Reportes/Llamadas" id="submit" target="_blank">
            Llamadas
        </a>

        <a class="btn btn-default" href="/Reportes/Pendientes" target="_blank">
            Pendientes
        </a>

        <a class="btn btn-default" href="/Reportes/LlamadasSolicitadas" target="_blank">
            Llamadas solicitadas
        </a>
</div>
