@model IEnumerable<PGMG.Models.LlamadaSolicitadaViewModel>

      
    <table id="tablallamadas" class="table table-striped">
        <thead>
            <tr>
                <th style="text-align: center">Cliente</th>
                <th style="text-align: center">Cant. de llamadas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.NombreCliente)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                </tr>
            }
        </tbody>
    </table>
  
  
