@model IEnumerable<PGMG.Models.LlamadaViewModel>

      
    <table id="tablallamadas" class="table table-striped">
        <thead>
            <tr>
                <th style="text-align: center">Usuario</th>
                <th style="text-align: center">Cant. de tareas pendientes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
            </tr>
            }
        </tbody>
    </table>
  
  
