@model PGMG.Models.FormaDeComunicacion

@{
    ViewBag.Title = "Eliminar";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">

    @using (Ajax.BeginForm("Delete", "FormaDeComunicacion", null, new AjaxOptions
    {
        HttpMethod = "POST",
        Url = Url.Action("Delete", "FormaDeComunicacion"),
        UpdateTargetId = "modal-content",
        OnSuccess = "closeModal",
        InsertionMode = InsertionMode.Replace
    },
    new { @class = "form-horizontal", role = "form", id = "frmCrear" }))
    {
        @Html.AntiForgeryToken()
        <div class="centrar">

            <h4>¿Desea eliminar la forma de comunicación?</h4>
            <br />

            <input type="submit" value="Eliminar" class="btn btn-default" data-target="#modal-eliminar" data-toggle="modal" />
            <input type="button" value="Cancelar" class="btn btn-default" data-target="#modal-eliminar" data-toggle="modal" />

        </div>
    }
</div>

@section Scripts{
    <script>

        function closeModal(data) {
            if (data.success) {
                $('#modal-eliminar').modal('hide');
                window.location.reload();
                window.location.href = "/FormaDeComunicacion/index";
            }
        }
    </script>
}